# Entornos virtuales
venv/
env/
.venv/

# Archivos de cache de Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de entorno y temporales
.env
.DS_Store
